/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
a {
	text-decoration: none;
	color: black;
}
a:hover {
	color: #B1663C;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
	background-color: #FFFEF8;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

.insta {
	width: 20px;
	height: 20px;
	padding-top: 2px;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	/*width: 100%;*/
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 10px;
	grid-row-gap: 20px;
	margin-left: 50px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
	margin: auto;
	padding-top: 60px;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}


.mes-filtres{
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 37px;
}

.bouton{
	height: 100%;
	border-radius: 60px;
	color: #1D6154;
	background-color: white;
	font-family: 'Syne';
	margin-left: 10px;
	margin-bottom: 20px;
}

.tous{
	width: 100px;
}

.objets{
	width: 100px;
}

.appartements{
	width: 157px;
}

.hotels{
	width: 198px;
}

.bouton:hover{
	color: white;
	background-color: #1D6154;
}

figure{
	width: 330px;
	height: 407px;
	margin-top: 50px;
}

.log-in{
	display: flex;
	flex-direction: row;
	justify-content: center;
	font-family: 'Syne';
	color: #1D6154;
	font-size: 30px;
	font-weight: bold;
	margin-top: 140px;
}

.champs-connexion{
	display: flex;
	flex-direction: column;
	align-items:flex-start;
	margin-top: 60px;
	margin-left: 380px;
	width: 379px;
	z-index: 1;
}

input {
	width: 100%;
	height: 51px;
	margin-bottom: 30px;
	border: none;
	filter : drop-shadow(0px 5px 4px #F2F1F1);
}

label {
	font-size: 14px;
}

.connexion {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 30px;
}

.se-connecter {
	font-family: 'Syne';
	background-color: #1D6154;
	color: white;
	width: 179px;
	height: 36px;
	border-radius: 60px;
}

.se-connecter:hover{
	color: #1D6154;
	background-color: white;
}

.mdp-oublie {
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-decoration: underline;
	color: black;
	margin-top: 20px;
}

footer {
	background-color: white;
	height: 60px;
}

.footy {
	position: fixed;
	bottom: 0px;
	width: 1140px;
	margin-top: 0px;
}

.footy nav {
	width: 100%;
}

footer .mentions-legales {
	font-size: 14px;
	margin-top: 20px;
}

.footy .mentions-legales {
	margin-top: 0px;
}

.div-connecte{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.lien-modifier{
	margin-top: 10px;
	margin-left: 10px;
}


/*********************************************************************************************************/


.barre-edition-on {
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: black;
	height: 59px;
}

.svg-on {
	margin-top: 18px;
}

.svg-on:hover {
	background-color: #B1663C;		
}

.mode-edition-on {
	color: white;
	margin-top: 20px;
	margin-left: 10px;
}

.publier-les-changements-on {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 216px;
	height: 38px;
	margin-top: 10px;
	background-color: #FFFFFF;
	border-radius: 60px;
	margin-left: 20px;
}

.publier-les-changements-on:hover {
	background-color: #1D6154;
	color: white;		
}

.barre-edition-off {
	display: none;
}

.publier-les-changements-off {
	display: none;
}

.mode-edition-off {
	display: none;
}

/*******************************barre qui remplace les filtres une fois connecté ******************************/

.projets-connecte-off {
	display: none;
}

.svg-connecte-off {
	display: none;
}

.modifier-connecte-off {
	display: none;
}

.div-connecte-on-off {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.mes-projets {
	margin-top: 25px;
}

.projets-connecte-on {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.svg-connecte-on {
	margin-left: 20px;
}

.svg-connecte-on:hover {
	background-color: #B1663C;
}

.modifier-connecte-on {
	margin-left: 10px;
}

.lien-modifier:hover {
	color: #B1663C;	
}


/************************* pop-up si email ou mpd invalides ************************************/

.pop-up-off {
	display: none;
}

.paragraphe-pop-up-off {
	display: none;
}

.pop-up-on {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 240px;
	height: 100px;
	z-index: 2;
	border-radius: 20px;
	background-color: black;
	color: white;
	position: absolute;
    top: 35%;
    left: 40%;
}

.paragraphe-pop-up-on {
	display: flex !important; /*le !important n'a aucun effet ? */
	flex-direction: row;
	justify-content: center;
	align-items: center;
	color: white;
	width: 100%;
	font-size: 18px;
	font-weight: bold;
	margin-left: 8px;
}



/********************************* La modale *****************************************************/

.corps-modale-off {
	display: none;
}

.corps-modale-on {
	display: flex;
	flex-direction: column;
	position: absolute;
	left: 405px;
	top: 660px;
	width: 630px;
	height: 750px;
	background-color: white;
	border-radius: 10px;
	box-sizing: border-box;
	overflow: scroll;
}

.modale-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.corps-modale-on:hover {
	border: 2px solid #00BFFF;
	box-sizing: border-box;
}

.croix {
	margin-top: 5%;
	margin-left: 92%;
	padding: 4px;
}

.croix:hover {
	border: 2px solid #00BFFF;
}


#corps-modale h2{
	margin-bottom: 0px;
	font-weight: 400px;
}


.galerie-photos {
	margin-top: 5%;
	color: black;
	box-sizing: border-box;
	font-family: "Work Sans";
	font-weight: 400px;
	margin-bottom: 2%;
}

.galerie-photos:hover {
	text-decoration: underline #00BFFF;
	padding-bottom: 0px;
}

.contour-bouton-ajouter-photo {
	width: 237px;
	height: 36px;
	margin-top: 30px;
}

.bouton-ajouter-photo {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 237px;
	height: 36px;
	border-radius: 60px;
	background-color: #1D6154;
	color: white;
	font-size: 14px;
	font-family: 'Syne';
}

.contour-bouton-ajouter-photo:hover {
	border: 2px solid #00BFFF;
}

.div-bordure {
	width: 420px;
	border-top: 1px solid gray;
	margin-top: 60px;
	/* position: absolute;
	bottom: 15%; */
}

.div-bordure:hover {
	border-top: 2px solid #00BFFF;
}

.affichage-photos-modale {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 70%;
	margin-top: 15px;
}


.figure-modale {
	position: relative;
	width: 78px;
	height: 102px;
	margin-left: 2%;
	margin-top: 7%;
	box-sizing: content-box;
	z-index: 1;
}

.figure-modale:hover {
	border: 2px solid #00BFFF;
	box-sizing: border-box;
}

.image-modale{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.supprimer-la-galerie {
	display: flex;
	flex-direction: row;
	justify-content: center;
	color: red;
	margin-top: 25px;
	width: 230px;
	height: 17px;
}

.supprimer-la-galerie:hover {
	border: 2px solid #00BFFF;
}

.svg-delete {
	position: absolute;
	z-index: 2;
	width: 30px;
	height: 30px;
	top: 5%;
	left: 75%;
} 